/* Web Page */

/**** Header ****/ 

.header-bar
{
    background-color: #E5E5E5;
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    padding-left: 16px;
}

/**** Container Components ****/

.main-container
{
    border: 1px solid black;
    display: flex;
    flex: 1;
}

.input-bar-container
{
    width: 25%;
}

.dashboard
{
    border: 1px solid black;
    height: 50%;
    margin: 40px 30px;
}

.widget-container
{
    border: 1px solid black;
    height: 50%;
    margin: 40px 30px;
}

.right-container
{
    display: flex;
    flex-direction: column;
    width: 75%;
}

/**** Salary Component ****/

#window-header-salary
{
    background-color: #32B250;
    border: 1px solid black;
    width: 320px;
    height: 30px;
    color: white;
    margin-top: 40px;
    margin-left: 20px;
}

/**** Window Components ****/

.header-text
{
    margin-left: 10px;
    display: inline-block;
    width: 270px;
}

.window-header
{
    background-color: #3E5696;
    border: 1px solid black;
    color: white;
    width: 320px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.window-body
{
    width: 320px;
    border: 1px solid black;
    border-top: none;
    height: 160px;
    margin: 0px 20px;
    margin-bottom: 40px;
}

.window-collapse-button
{
    display: inline-block;
}

.collapse-button
{
    margin-bottom: 5px;
}

